* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    
}

.krug {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18%;
    height: 200px;
    width: 200px;
    border: 15px dashed rgb(0, 0, 0);
    border-radius: 50%;
    animation: krug 8s infinite forwards;

}

@keyframes krug {
    0% {
        border-color: orange;
        transform: rotate(0deg) scale(1);
    }
    25% {
        border-color: black;
   
    }
    50% {
        border-color:orange;
        transform: scale(2);
    }
    75% {
        border-color: black;
        
    }
    100% {
        border-color: orange;
        transform: rotate(360deg) scale(1);
    }
}

.picture {
    
display: flex;
justify-content: center;
align-items: center;
 height: 170px;
 width: 170px;
 border-radius: 50%;
 animation: picture 8s infinite forwards ;
}
@keyframes picture {
 0% {transform: rotate(0deg)}
 100% { transform:rotate(360deg) }
}